* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  overflow-x: hidden;
}

header {
  background-color: #1e1e1e;
  text-align: center;
  position: relative;
  padding-bottom: 20px;
  overflow: hidden;
}

header h1 {
  margin: 0;
  padding: 85px 30px;
  max-width: 200px;
  font-size: 1.8em;
  position: relative;
  z-index: 1;
  word-wrap: break-word;
}

.header-background {
  background-image: url("https://vekrotis.github.io/matynkaaa.x-remake/images/engineer.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 60%;
  z-index: 0;
}

.header-background::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom, rgba(30, 30, 30, 0.026) 0%, rgba(30, 30, 30, 0.523) 100%);
  z-index: 1;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}

nav a {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s, background-color 0.3s;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #444;
  border: 1px solid transparent;
  text-align: center;
}

nav a:hover {
  color: #ff9800;
  background-color: #555;
  border-color: #ff9800;
}

#menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #e0e0e0;
  font-size: 1.5em;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.random-text {
  margin: 5px;
}

.random-text,
.reklama,
.zajimavost,
.zajimavost2,
.zajimavost3 {
  width: 100%;
  max-width: 800px;
  background-color: #2a2a2a;
  padding: 15px;
  border-radius: 8px;
  margin: 15px 0;
}

.zajimavost,
.zajimavost2,
.zajimavost3,
.reklama h2 {
  margin-top: 0;
}

footer {
  background-color: rgba(30, 30, 30, 0.7);
  padding: 20px;
  text-align: center;
  width: 100%;
  border-top: 3px solid #ff9800;
}

/* Mobile styles */
@media (max-width: 768px) {
  header {
    padding-bottom: 20px;
  }

  header h1 {
    width: 245px;
    padding: 85px 30px;
    max-width: 260px;
    font-size: 1.7em;
  }

  nav {
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: rgba(30, 30, 30, 0.9);
    top: 60px;
    right: 20px;
    left: 20px;
    padding: 15px;
    border-radius: 8px;
    max-height: 80vh;
    overflow-y: auto;
    z-index: 10;
  }

  nav a {
    color: #ffff;
    margin: 2px 5px 2px;
    padding: 10px 20px;
    background-color: #444444a0;
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.4s, color 0.3s;
    border-color: #ff9800;
  }

  nav a:hover {
    background-color: #ff9900c3;
    color: #ffffff;
    border-color: rgba(30, 30, 30, 0.9);
  }

  #menu-toggle {
    display: inline-block;
    padding: 8px;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 15;
    background: none;
    border: none;
    color: #e0e0e0;
    font-size: 1.5em;
    transition: all 0.3s ease;
  }

  .menu-opened #menu-toggle {
    z-index: 20;
  }

  .menu-opened #menu {
    display: flex;
  }

  .content-wrapper {
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  header {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header h1 {
    max-width: 400px;
    font-size: 2.5em;
    padding: 20px 20px;
  }

  .header-background {
    background-image: url("https://vekrotis.github.io/matynkaaa.x-remake/images/factorio-bg5.jpg");
    height: 300px;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    padding: 0;
    gap: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav a {
    font-size: 1.1em;
    margin: 0;
    color: #edededdf;
    padding: 10px 20px;
    display: inline-block;
    background-color: #4444448e;
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.4s, color 0.3s;
    border-color: #ff9800;
  }

  nav a:hover {
    background-color: #ff9900c3;
    color: #ffffff;
    border-color: rgba(30, 30, 30, 0.9);
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .random-text {
    width: 100%;
    max-width: 100%;
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 2000px;
    margin-top: 10px;
  }

  .reklama {
    width: 100%;
  }

  .zajimavost-container {
    width: 100%;
    display: flex;
    margin-left: 15px;
    flex-direction: column;
  }
}

.zajimavost,
.zajimavost2,
.zajimavost3 {
  margin-bottom: 15px;
}

.reklama {
  position: relative;
  background-color: #2a2a2a;
  padding: 15px;
  margin: 0;
  margin-bottom: 15px;
  overflow: hidden;
}

.reklama .reklama-background {
  background-image: url("https://vekrotis.github.io/matynkaaa.x-remake/images/factorio-bg4.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 15px;
  border-radius: 8px;
  margin-top: 10px;
  position: relative;
  z-index: 0;
}

.reklama h2,
.reklama p,
.random-text p,
.zajimavost h2,
.zajimavost p {
  position: relative;
  z-index: 1;
  color: #e0e0e0;
  margin: 3px;
}

.reklama a {
  color: #ff9800; 
}

.reklama a:hover {
  color: #fab534;
}
